# Объектные файлы и файлы зависимостей
obj/
*.o
*.d

# Скомпилированные бинарники (исполняемые файлы)
calculator
run_math_test
fuzz_calculator

# Логи и временные файлы фаззера
logs/
fuzz/corpus/

# Временные файлы текстовых редакторов и ОС
.DS_Store
*.swp
.vscode/
.idea/